/* App.css */

body {
  background-color: #f0f2f5;
  font-family: 'Arial', sans-serif;
}

.App {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input[type='text'] {
  width: calc(100% - 110px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

#addtask{
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.filter-buttons {
  margin: 20px 0;
}

.filter-buttons button {
  background-color: #6c757d;
  margin: 0 5px;
}

.filter-buttons button.active {
  background-color: #007bff;
}

.sort-dropdown {
  margin: 20px 0;
}

.sort-dropdown label {
  font-size: 16px;
  margin-right: 10px;
}

.sort-dropdown select {
  padding: 5px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.task-text {
  display: flex;
  align-items: center;
}

.task-text.completed {
  text-decoration: line-through;
  color: #6c757d;
}

li input[type='checkbox'] {
  margin-right: 10px;
}

li button {
  background-color: #dc3545;
}

li button:hover {
  background-color: #c82333;
}
